{{a}}<br>
{{b}}<br>
{{c}}<br>
<br>
<input type="text" [(ngModel)]="name"><br>
<!-- <input type="button" value="printdata" (click)="printdata()">; -->
<br>
Constructer:Document.GetByElementID Test:

<input type="text" id="doctest"><br>
<span *ngIf="status else condition2">this is  true</span>
<ng-template #condition2>this is false</ng-template><br>

{{games[0]}}<br>

For loop data:
<div *ngFor="let  game of games">{{game}}</div><br>
{{game | uppercase}}<br>
{{todaydate}}<br>
{{todaydate | date:'d/m/y'}}<br>
{{todaydate | date:'shortTime'}}<br>
{{money | currency:'USD'}}<br>
{{performance | percent}}

name: <input type="text" id="name"><br>
<!-- <input type="button" id="name" (click)="submit()" value="submit"> -->


<input type="button" id="name" (click)="getalluserinfo()" value="getdata">
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
    </tr>
    <tr *ngFor="let user of user">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    </tr>
</table>